body {
  background-color: rgb(143, 143, 143);

  font-family: monospace;
}

#main-div {
  display: flex;
  flex-direction: row;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

form label {
  /* padding: 10px; */
  /* background-color: orange; */
  /* margin: 5px; */
  margin-bottom: 10px;
  /* width: 100%; */
}
label input {
  font-family: monospace;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  /* margin: 10px; */
  border-radius: 10px;
  outline: none;
  /* border: 1px solid black; */
  border: none;
  width: -webkit-fill-available;
}
#download-vcard {
  background-color: black;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  width: max-content;
}
#btn {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(109, 109, 109);
  color: white;
}

#result {
  /* background-color: blue; */
  white-space: pre-wrap;
  padding: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

#title-desktop {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}
#title-mobile {
  display: none;
}
@media (max-width: 600px) {
  #main-div {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  form {
    width: 90%;
    max-width: none;
    margin: 0px;
  }
  #result {
    max-width: none;
    margin: 0px;
    
    margin-top: 10px;
    width: 90%;
  }
  #title-desktop {
    /* display: none; */
    text-align: center;
  }
  #title-mobile {
    display:block;
    text-align: center;
    /* background-color: red; */
  }
}
