body {
  background-color: aliceblue;
  font-family: monospace;
}
form {
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
}

form label {
  /* padding: 10px; */
  /* background-color: orange; */
  /* margin: 5px; */
  margin-bottom: 10px;
  /* width: 100%; */
}
label input {
  font-family: monospace;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  /* margin: 10px; */
  border-radius: 10px;
  outline: none;
  /* border: 1px solid black; */
  border: none;
  width: -webkit-fill-available;
}

#btn {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(109, 109, 109);
  color: white;
}

#result {
  /* background-color: blue; */
  width: 100%;
}
